.footer{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #88898b;
    padding-top: 30px;
    padding-bottom: 50px; 
}

footer {
    box-sizing: border-box;
    width:100%;
    padding: 20px 50px;
}