.account-list{
    color:#30302f;
    li{
        border:1px solid #959595;
        div div{
            padding: 20px 10px;
            border-right: 1px dotted #c7c6c6;
        }
        div{
            & :last-child{
                border:none;
            }
        }

        .buttons span{
            margin-left: 10px;
            position: relative;
            cursor: pointer;
            &:hover{
                color:rgb(2, 0, 2);
                }
            &.add:hover::before{
                    content: 'Pridėti€';
                    position: absolute;
                    font-size: 12px;
                    width:40px;
                    top:-20px;
                    left:-20px;
            }

            &.minus:hover::before{
                content: 'Išimti €';
                position: absolute;
                font-size: 12px;
                width:60px;
                top:-20px;
                left:-30px;
            }

            &.delete:hover::before{
                content: 'Ištrinti sąskaitą';
                position: absolute;
                font-size: 12px;
                width:80px;
                top:-20px;
                left:-40px;
            }
        }
    }
    .list-group-header{
        div div{
            padding-bottom: 5px;
            font-weight: bold;
        }
    }
    .account-balance, .buttons {
        text-align: end;
    }
}

.list-item.headers>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}